<md-card>
  <md-card-title>{{'recipes.header'|translate}}</md-card-title>
  <md-card-content>
    <p>{{recipe.title}}</p>
    <button md-icon-button color="primary" [routerLink]="['/recipe', recipe.title, recipe.link]">
      <md-icon class="md-24">visibility</md-icon>
    </button>
    <hr>
    <p>{{'recipes.search.header'|translate}}</p>
    <md-input placeholder="{{'recipes.search.example'|translate}}" [(ngModel)]="term" (click)="displayKeyboard()"></md-input>
    <button md-icon-button (click)="searchRecipe()">
      <md-icon class="md-24">search</md-icon>
    </button>
    <hr>
    <p>{{ recipes.length|i18nPlural: {'=1': 'recipes.count.one', 'other': 'recipes.count.plural'}|translate:{count:
      recipes.length} }}</p>
    <button md-icon-button color="primary" routerLink="/recipes">
      <md-icon class="md-24">visibility</md-icon>
    </button>
  </md-card-content>
</md-card>
