<md-card>
  <md-card-title>{{'shoppinglist.header'|translate}}</md-card-title>
  <md-card-content>
    <p>{{ items.length|i18nPlural: {'=1': 'shoppinglist.count.one', 'other':
      'shoppinglist.count.plural'}|translate:{count: items.length} }}</p>
    <button md-icon-button color="primary" routerLink="/shopping-list">
      <md-icon class="md-24">visibility</md-icon>
    </button>
    <button md-icon-button color="accent" routerLink="/items">
      <md-icon class="md-24">add_circle</md-icon>
    </button>
  </md-card-content>
</md-card>
